@model MVCUsingAspDotnetCore.Models.Employee
@using MVCUsingAspDotnetCore.Models
@{
    ViewData["Title"] = "Save";
}

<div class="container mt-5">
    <h4>Employee</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Save" asp-controller="Home" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Id" />

                <div class="form-group">
                    <label asp-for="@Model.Name" class="control-label"><b>Name</b></label>
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="@Model.Department" class="control-label"><b>Department</b></label>
                    <select asp-for="Department" asp-items="Html.GetEnumSelectList<Department>()" class="form-control">
                        <option selected="selected" value=""> </option>
                        <option selected="selected" value="" disabled>Please select</option>
                    </select>
                    <span asp-validation-for="@Model.Department" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Address" class="control-label"><b>Address</b></label>
                    <textarea asp-for="Address" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Gender" class="control-label"><b>Gender</b></label>
                    <label><input asp-for="Gender" value="Male" type="radio" />Male</label>
                    <label><input asp-for="Gender" value="Female" type="radio" />Female</label>
                    <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.AcceptsTerms" class="control-label"><b>Terms and condition</b></label>
                    <input asp-for="@Model.AcceptsTerms" value="true" required/>
                    <span asp-validation-for="@Model.AcceptsTerms" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-info">Cancel</a>
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>
